<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Groupie Tracker</title>
    
    <link rel="stylesheet" type="text/css" href="/CSS/index.css">
    
    <link rel="icon" href="CSS/disque_VP.png">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.2.1/dist/css/grix.min.css">
    <script type="text/javascript" >
      // Get the modal
// var modal = document.getElementById();

// window.onclick = function(event) {if (event.target == modal) modal.style.display = "none";}
function getValue(){
  var input = document.getElementById("inputRecherche").value;
  for(let e of [...document.querySelectorAll("#artist")]){
    let name = e.attributes.name.textContent
    if (new RegExp(input).test(name)){
      // test en normal
      e.style.display="block"
    }else if (new RegExp((input.split(" ").map((e)=> e.charAt(0).toUpperCase()+ e.slice(1)) ).join(" ")).test(name)){
      // test avec chaque 1er lettre en maj pour chaque mots
      e.style.display="block"
    }else if (new RegExp(input.toUpperCase()).test(name)){
      // test avec tout en maj
      e.style.display="block"
    }else{
      e.style.display="none"
    }
  }
}
    </script>
</head>

<body >
    <nav class="menu-nav">
        <section class="navbar">
          <a type="image" href="#">
            <img src="CSS/disque_VP.png" alt="logo" width="50px">
          </a>
          <ul>
            <li class="btn">
              <a href="http://localhost:8080/map">Location</a>
            </li>
          </ul>
        </section>
    </nav>

    <section class="headtitle">
        <h1 class="head">WELCOME !</h2>
    </section>
    <br>
    <input type="text" placeholder="" id="inputRecherche">
    <button type="button" onclick="getValue();">Recherche</button>
    <div id="margin">
    <div class="grix xs5">
        {{range .}}
        <div id="artist" name="{{.Name}}" class="col">
            <div style="width: 250px;">
                <div id="text"><h2>{{.Name}}</h2></div>
                <img id="img" src={{.Image}} class="w3-hover-shadow" onclick="document.getElementById('{{.Id}}').style.display='block'">
                <section class="modal">
                    <div id="{{.Id}}" class="w3-modal">
                        <div class="w3-modal-content w3-animate-zoom">
                            <header class="w3-container w3-black">
                                <span onclick="document.getElementById('{{.Id}}').style.display='none'" 
                                    class="w3-button w3-display-topright">&times;
                                </span>
                                <h2>{{.Name}}</h2>
                            </header>
                            <div class="w3-container">
                                <img src="{{.Image}}" alt="image">
                                <div class="card-body">
                                    <h5 class="card-title">Members:</h5>
                                    {{range .Members}}
                                    <ul class="card-text">
                                        <li style="margin-bottom: 0rem;">{{.}}</li>
                                    </ul>
                                    {{end}}
                                    <h5 class="card-title">Creation Date:</h5>
                                    <p class="card-text"> {{.CreationDate}}</p>
                                    <h5 class="card-title">First Album Released:</h5>
                                    <p class="card-text">{{.Firstalbum}}</p>
                                    <h5 class="card-title">Locations and Dates</h5>
                                    <form action="/map" method="POST">
                                      {{range $key,$value := .RelationsValues.DatesLocations}}
                                      <input name="teste"type="submit" value="{{$key}}">
                                      {{range $value}}
                                      <h5>{{.}}</h5>
                                      
                                      {{end}}
                                      {{end}}
                                    </form>
                            </div>
                            <footer class="w3-container w3-black">
                            </footer>
                        </div>
                    </div>

                </section>
            </div>
          </div>
        {{end}}
    </div>
</div>
</body>

</html>